root = true

[*]
end_of_line = crlf
insert_final_newline = true

[*.cs]
indent_style = space
indent_size = 4

[*.{js,json}]
indent_style = space
indent_size = 4

[*.{css,less,scss}]
indent_style = space
indent_size = 4

[*.{ashx,aspx,master}]
indent_style = space
indent_size = 4
